{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ object.tema_descricao }}</h1>
        <p><b>Períodos:</b> {{ object.indicador_periodo|default:'N/A' }}</p>
        <h2>Indicadores</h2>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Código</th>
                <th>Indicador</th>
                <th>Período</th>
            </tr>
            </thead>
            <tbody>
            {% for indicador in object.indicador_set.all %}
                <tr>
                    <td class="text-right"><a href="{% url 'indicador-detail' pk=indicador.pk %}{{ indicador.indicador_nome|slugify }}">{{ indicador.indicador_id }}</a></td>
                    <td>{{ indicador.indicador_nome|truncatewords:15 }}</td>
                    <td>{{ indicador.indicador_periodo|default:'N/A' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
